.panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin: 10px; */
  background-color: #121418;
  flex-grow: 1;
  flex-basis: calc(50% - 20px);
  /* max-width: calc(50% - 20px); */
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-color: #888 #333; /* Firefox */
}

.panel::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.panel::-webkit-scrollbar-track {
  background: #333; /* Background of the track */
}

.panel::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Roundness of the scroll thumb */
  border: 2px solid #333; /* Border around the scroll thumb */
}

/* Flex items for each panel */
.main-content > .panel {
  flex: 1 1 calc(50% - 20px);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .main-content > .panel {
    flex: 1 1 100%;
  }

  .panel {
    
    flex-basis: 100%; /* Full width on smaller screens */
    max-width: 100%;
  }
}
