.panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  /* box-sizing: border-box; */
  background-color: #121418;
  flex-grow: 1; /* Ensure it takes remaining space */
  flex-basis: calc(50% - 20px); /* 50% width minus the gap */
  max-width: calc(50% - 20px); /* To ensure equal width on larger screens */
}

/* Flex items for each panel */
.main-content > .panel {
  flex: 1 1 calc(50% - 20px); 
  /* box-sizing: border-box; */
}
  
/* Media query for smaller screens */
@media (max-width: 768px) {
  .main-content > .panel {
    flex: 1 1 100%;
  }

  .panel {
    flex-basis: 100%; /* Full width on smaller screens */
    max-width: 100%;
  }
}
