.panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin: 10px; */
  background-color: #121418;
  flex-grow: 1;
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px); /* To ensure equal width on larger screens */
  max-height: 100%;
  overflow-y: auto;
}

/* Flex items for each panel */
.main-content > .panel {
  flex: 1 1 calc(50% - 20px);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .main-content > .panel {
    flex: 1 1 100%;
  }

  .panel {
    flex-basis: 100%; /* Full width on smaller screens */
    max-width: 100%;
  }
}

