.skill-search-container {
    display: flex;
    padding: 20px;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 250px; /* Set width for sidebar */
}

.search-box input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.selected-skills-panel {
    margin-top: 20px;
    border: 1px solid #444;
    padding: 10px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: #282c34;
    color: #ddd;
    width: 250px; /* Set width for sidebar */
    user-select: none; /* Makes the text non-selectable */
}

.results-panel {
    border: 1px solid #444;
    padding: 10px;
    flex: 1;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: #282c34;
    color: #ddd;
}

.skill-item {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #555;
    font-size: 14px;
}

.skill-item strong {
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Hamburger button */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .search-box {
        display: none;
    }

    .skill-search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .results-panel, .selected-skills-panel {
        width: 100%;
        max-width: calc(100vw - 40px); /* Set max-width to avoid overflow */
    }

    .hamburger {
        display: block;
    }
}
