.selected-skills-panel {
    width: calc(100% - 300px);
    max-width: 500px;
    border: 1px solid #444;
    padding: 20px;
    background-color: #282c34;
    color: #ddd;
    margin-left: 20px;      
  }