.selected-skills-panel {
  padding: 20px;
  background-color: #1e2023;
  color: #ddd;
  border-radius: 5px;
}

.toolbar {
  margin-bottom: 20px;
}

.skill-item {
  margin-bottom: 15px;
}

.best-armor {
  font-weight: bold;
  color: #ff0;
}
