.App {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white; /* Ensure text color is readable */
  max-height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  gap: 20px;
  padding: 20px;
  flex-grow: 1; /* Ensure it takes remaining space */
  max-height: 100%;
  overflow: hidden;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.skill-item {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #555;
  font-size: 14px;
  text-align: left;
}

.skill-item strong {
  margin-right: 5px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #121418 #282c34;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}
*::-webkit-scrollbar-track {
  background: #282c34;
}
*::-webkit-scrollbar-thumb {
  background-color: #121418;
  border-radius: 50px;
  border: 3px none #ffffff;
}