.set-builder-panel {
  width: 70%;
  border: 1px solid #444;
  padding: 20px;
  color: #ddd;
  margin-left: 20px;
}

.skill-bar {
  width: 20px;
  height: 10px;
  margin-right: 2px;
}

.skill-bar.full {
  background-color: #0f0;
}

.skill-bar.empty {
  background-color: #333;
}
